<!DOCTYPE html>
<head>
	<!-- meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}}</title>
	<!-- Bootstrap CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Bootstrap 
	<link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="login align-self-start"><h4><a href="/login">Login</a></h4></div>
				</div>
				<div class="col">
					<a href="/">
						<div class="logo-container bg-primary">
							<img src="" alt="Ergo logo">
						</div>
					</a>
				</div>
				<div class="col">
				</div>
			</div>
		</div> <!-- .container -->
	</div>  <!-- #header -->

	<div id="tabs">
		<div class="container-fluid">
			<div class="wrapper">
				<div class="row">
					<div class="col-6">
						<h3><a href="/">Get Started</a></h3>
					</div>
					<div class="col-6">
						<h3><a href="/favorites">Favorites</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- #tabs -->
	
		{{{body}}}

	<script>
	function goBack() {
	    window.history.back();
	}
	</script>
</body>
</html>
