<!DOCTYPE html>
<html lang="en">

<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Bootstrap CDN 
  
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

	<!-- Bootstrap 
	<link href="css/bootstrap.min.css" rel="stylesheet"> 
	<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
	<!-- open iconic  -->
	<link href="css/open-iconic-bootstrap.min.css" rel="stylesheet">
	<!-- main.css -->
	<link href="css/main.css" rel="stylesheet">
	<!-- jQuery -->
	<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 
    <!-- jQuery local fallback -->
    <script>
    if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='js/jquery-3.3.1.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>

    <!--
    <style type="text/css">
            body.js .hideWelcome { display: none; }
    </style> -->

    <style type="text/css">
            html.js .hideWelcome { display: none; }
    </style>
    <script>
        if(localStorage.getItem("hideWelcome")) {
        	document.documentElement.className += ' js';
		} 
    </script>

</head>
<body>	

<div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-left">
          	<li class="navbar-brand"><a class="text-muted" href="/">Ergo</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/"><span class="oi oi-home"></span><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favorites"><span class="oi oi-heart"></span></a>
            </li>
          </ul>

          <!-- If not logged in -->
          {{#unless data.loggedIn}}
          <ul class="nav nav-pills float-right hidden-sm-down">
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
          	<li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
            </li>
          </ul>

          <!-- Narrow nav -->
          <ul class="nav nav-pills float-right hidden-md-up">
          	<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <span class="oi oi-account-login"></span>
		        </a>
		        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

              <a class="dropdown-item" href="/login">Login</a>
		          <a class="dropdown-item" href="/signup">Sign Up</a>
		          
		        </div>
		      </li>
          </ul>
          {{/unless}}

          <!-- If logged in -->
         {{#if data.loggedIn}} 

          <ul class="nav nav-pills float-right">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!--
              <span class="oi oi-wrench hidden-md-up"></span> -->
              
              
              <div class="user-info">
                <span id="non-fb-name">{{data.loggedIn.firstName}} {{data.loggedIn.lastName}}</span> 
                <!--
                <span class="profile-pic-container">
                  <img id="profile-pic" src="">
                </span> -->
              </div>

            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

             <!-- <a class="dropdown-item" href="#">Settings</a>-->
              <span class="dropdown-item" href="" onclick="logoutFacebook()">Log Out</span>
            </div>
          </li>
          </ul>
        {{/if}} 

        </nav>
        
      </div>
 </div> <!-- /container -->

      {{{body}}}

    

    <!-- Footer -->
	<footer class="footer">
		<div class="container">
			<span class="text-muted">Ergo &copy; 2018</span>
		</div>
    </footer> 
	

	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- main.js -->
	<script src="js/main.js"></script>

  {{> facebook}}
  <script src="js/facebook.js"></script>

</body>
</html>
