{{#with data}}
<div id="favorites-page">
	<div id="favorites">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2>Favorites</h2>
				</div>
			</div>

			<div class="row">
				{{#unless loggedIn}}
				<div class="col">
					<h4><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to save your favorite stretches!</h4>
				</div>
				{{/unless}}
			</div>

			{{#if loggedIn}}
			<div class="row">
				{{#each loggedIn.favorites}}
				<div class="col-12">
					<h4><a href="{{url}}">{{name}}</a></h4>
				</div>
				{{/each}}
			</div>
			{{/if}}

		</div>
	</div>
</div>
{{/with}}

