{{#with data}}
<div id="go-page">

		<div class="progress-container">
		<div class="d-flex justify-content-center">
			<div class="progress">
		 		<div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div> <!-- #progress -->
	
		<div class="container">

			<div class="row">
				<div class="col text-center">

					<form id="fav-form" {{#if loggedIn}}action="/save" method="get"{{/if}}>

						<input class="favName" type="hidden" name="name" value="">
						<input class="favUrl" type="hidden" name="url" value="">

						<div class="fav-button" {{#if loggedIn}}onclick="favorite()"{{/if}} {{#unless loggedIn}}onclick="loginWarning()"{{/unless}}>
							<h5>Save Routine to Favorites</h5>
						</div>
					
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col text-center">
					
					<div id="timer"><span id="min">00</span>:<span id="sec">00</span></div>

					<button id="startButton" class="btn btn-success btn-lg" type="button" value="Start">Start</button> 

					<div class="btn-group controls" role="group" aria-label="...">
						<button id="resumeButton" class="btn btn-secondary btn-lg" type="button" value="Resume"><span class="oi oi-media-play"></span></button>
						<button id="pauseButton" class="btn btn-secondary btn-lg" type="button" value="Pause"><span class="oi oi-media-pause"></span></button>
						
					
					<button id="resetButton" class="btn btn-danger btn-lg" type="button" value="Reset"><span class="oi oi-media-stop"></span></button>
					<!--
					<button id="restartButton" class="btn btn-default" type="button" value="Restart">Restart</button> -->
					</div>


				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="d-flex justify-content-center">
					<div class="curr-stretch-img">
						<img src="https://s21.q4cdn.com/861911615/files/images/placeholder.png">
					</div>
					</div>

				</div>
			</div>

				<div class="pagination d-flex justify-content-between">

			<button class="btn btn-primary back-button" type="button" onclick="backToStretches()">
				<!--<p class="oi oi-arrow-left"></p> -->
				Back
			</button>

			<button class="btn btn-primary forward-button confirm-stretches" type="submit">
				<!--<p class="oi oi-arrow-right"></p>-->
				Next
			</button>

	</div>  <!-- .pagination -->



		</div> <!-- .container -->
	
</div> <!-- #go-page -->
{{/with}}

