{{#with data}}
<div id="go-page">
	<div id="go">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="timer">05:03</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h3><a href="/">Stop</a></h3>
				</div>
			</div>
		</div>
	</div>
</div>
{{/with}}

