{{#with data}}
<div id="home-page">

	<div class="progress-container">
		<div class="container d-flex justify-content-center">
			<div class="progress">
		 		<div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div> <!-- #progress -->

	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Where are you working today?</h2>
			</div>
		</div>
	</div>


<div id="environments">
	<div class="container">
		<div class="row">

			{{#each environments}}
			<div class="col-6">

				<form class="setup-form" action="/setup" method="get">

				<button type="submit"><h3>{{name}}</h3></button>
				<input type="hidden" name="name" value="{{className}}">

				</form>
				
			</div> <!-- .col-6 -->
			{{/each}}

		</div>
	</div>
</div>


</div> <!-- #home-page -->
{{/with}}