<!DOCTYPE html>
<head>
	<!-- meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login - Ergo</title>
	<!-- Bootstrap CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Bootstrap 
	<link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
<div id="login-page">

	<div id="header">
		<div class="container">
			<div class="d-flex flex-column align-items-center justify-content-center wrapper">
				<div class="login align-self-start"><h4><a href="/login">Login</a></h4></div>
				<a href="/">
				<div class="logo-container bg-primary">
					<img src="" alt="Ergo logo">
				</div>
				</a>
			</div> <!-- .wrapper -->
		</div> <!-- .container -->
	</div> <!-- #header -->

	
	<div id="login">
		<h1>Login</h1>
		<h3 onclick="goBack()"><a href="#">Close</a></h3>
	</div>

</div>

	<script>
	function goBack() {
	    window.history.back();
	}
	</script>
</body>
</html>
