{{#with data}}
<div id="login-page">
	<div id="login">
		<div class="container">
		
			<div class="row">
				<div class="col">
					<div class="d-flex justify-content-center">
					<div class="login-form">

						<!-- Email -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">E-mail</span>
							<input name="email" type="text" class="form-control" placeholder="example@mail.com" aria-describedby="sizing-addon1" required>
						</div>
						<!-- <p class="email-warning warning"></p> -->

						<!-- Password -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Password</span>
							<input name="password" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" required>
						</div>
						 <!-- <p class="password-warning warning"></p> -->

						<h5>Ergo sends alerts through SMS. Where can we reach you?</h5>
						<!-- Phone -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Phone</span>
							<input name="phone" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" required>
						</div>
						<!-- <p class="phone-warning warning"></p> -->

						<!-- Sign Up button -->
						<button type="button" onclick="signup()" class="btn btn-default btn-block">Sign Up</button>

					</div> <!-- .login-form -->
					</div>


				</div>
			</div>

	</div> <!-- .container -->
	</div>
</div>
{{/with}}

