{{#with data}}
<div id="login-page">
	<div id="login">
		<div class="container">
		
			<div class="row">
				<div class="col">
					<div class="d-flex justify-content-center">
					
					<form class="login-form" action="/verify-signup">

						<!-- Name -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Name</span>
							<input name="name" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" required>
						</div>

						<!-- Email -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">E-mail</span>
							<input name="email" type="text" class="form-control" placeholder="example@mail.com" aria-describedby="sizing-addon1" required>
						</div>
						<!-- <p class="email-warning warning"></p> -->

						<!-- Password -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Password</span>
							<input name="pwd" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" required>
						</div>
				

						<h5>Ergo sends alerts through SMS. Where can we reach you?</h5>
						<!-- Phone -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Phone</span>
							<input name="phone" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" required>
						</div>

			

						<!-- Sign Up button -->
						<button type="submit" onclick="signup()" class="btn btn-default btn-block">Sign Up</button>

						{{#if ../signupError}}
							<p style="margin-top: 2rem; color: red;">{{../signupError}}</p>
						{{/if}}

					</form> <!-- .login-form -->
					</div>

				</div> <!-- .col -->
			</div> <!-- .row -->

			<div class="row">
				<div class="col">
					<h4>Already have an account? <a href="/login">Login</a></h4>
				</div>
			</div>

	</div> <!-- .container -->
	</div>
</div>
{{/with}}

