@font-face {
  font-family: 'Icons';
  src: url('../fonts/openiconic/open-iconic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/openiconic/open-iconic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/openiconic/open-iconic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/openiconic/open-iconic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/openiconic/open-iconic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h2 {
	margin: 1rem 0;
}


p {
	font-size: 1.2rem;
}

a:hover {
	text-decoration: none;
}

a {
	color: $primary;
}
.warning {
	color: red;
	//text-align: left;
	font-size: 1rem;
}