#timer {
	font-size: 6rem;
	font-weight: bold;
}

.curr-stretch-img {
	margin-top: 3rem;
	margin-bottom: 3rem;
	max-width: 100%;
	width: 25rem;
	img {
		max-width: 100%;
	}
}

#pauseButton, #resumeButton, #resetButton {
	display: none;
}

#startButton, #pauseButton, #resumeButton {
	cursor: pointer;
}

#fav-form {
	width: 100%;
	color: $primary;
}

