#home-page {
	h2 {
		margin-bottom: 3rem;
	}
}

.login {
	color: $primary;
	cursor: pointer;
}

#environments {
	button {
		background-color: $primary;
		border: none;
		//height: 20vh;
		height: 10rem;
		width: 100%;
		color: #fff;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}

