$stretch-height: 3.5rem;

.stretches-container {
	padding-bottom: 1rem;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	li {
		padding: 0;
		margin: .2rem 0;
		text-align: left;
		width: 100%;
		position: relative;
		background-color: #f7f7f7;
		cursor: pointer;
		min-height: $stretch-height;
		&.selected {
			.stretch-info:after {
				content: url('../images/icons/check.svg');
				content: "";
				background-image: url('../images/icons/check.svg');
				background-repeat: no-repeat;
				display: inline-block;
				background-size: 2rem 2rem;
				height: 2rem;
				width: 2rem;
				position: absolute;
				left: .75rem;
				top: .75rem;
				z-index: 0;
				opacity: 0.9;
			}
		}
	}

	p {
		font-size: .8rem;
		margin-bottom: 0;
	}
}

.stretch-info {
	margin-left: $stretch-height;
	height: 100%;
	padding: 0.5rem .8rem 0.1rem;
	z-index: 9999;
}

.expand-stretch {
	position: absolute;
	top: 1rem;
	right: 1rem;
	top: 0;
	right: 0;
	padding: 1rem;
	box-sizing: border-box;
	color: $primary;
}

.expand-stretch {
	.io {
		font-size: 1rem;
		
	}
	.oi-chevron-up {
		display: none;
	}
	
}

.stretch-desc {
	display: none;
	padding: 1.6rem 1rem 1rem;
}

.stretch-image {
	height: $stretch-height;
	width: $stretch-height;
	position: absolute;
	left: 0;
	top: 0;
	img {
		max-width: 100%;
	}
}

.stretch-checkbox {
}