.progress-container {
	width: 100%;
	margin: 3rem 0;
	height: .5rem;
}

.progress {
	width: 20rem;
	max-width: 80vw;
	height: 1rem;
}


#home-page .progress-bar {
	width: 33.33%;
}

#setup-page .progress-bar {
	width: 66.66%;
}

#go-page .progress-bar {
	width: 100%;
}

