$footer-height: 5rem;

.logo-container {
	display: inline-block;
	border-radius: 4rem;
	overflow: hidden;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
}

.logo-container img {
	display: none;
}

.login {
	text-align: left;
}



.navbar {
	a {
		font-size: 1.5rem;
	}
}

#fb-name {
	padding-right: 0.4rem;
}

.user-info {
	display: inline-block;
	
	margin-top: -2rem;
}

.profile-pic-container {
	margin-bottom: -0.9rem;
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 2.5rem;
	overflow: hidden;
	img {
		max-width: 100%;
	}
}


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */

	margin-bottom: $footer-height;
}
.footer {
	padding-top: 0rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: $footer-height;
	line-height: $footer-height;
	background-color: #f5f5f5;
}
